.user-button{
display:flex;
flex-direction:row;
align-items:center;
margin-left: auto; 
margin-right: 0;
border-radius: 16px;
padding:8px;
}

.user-button > *{

    margin:0px 16px;
}

.user-button-image{
    border-radius: 50%;
}

.user-button-image {
    object-fit: cover;
    width: 4em;
    border-radius: 500%;
    flex-shrink: 0;
}

.user-button:hover {
    transition: box-shadow 0.3s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
}