.overlay {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.detailed-view {
    background-color: rgb(248, 249, 249);
    padding: 2em;
    display: flex;
    gap: 5em;
    border-radius: 1.5em;
    border: none;
}

.item-info > button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    filter: brightness(0.9);
    transition: box-shadow 0.3s;
    cursor: pointer;
    transition: brightness 0.3s;
}

.item-info > button {
    height: 3em;
    border-radius: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    background-color: rgb(83, 255, 106);
    z-index: 1;
    position: relative;
}

.item-info {
    display: flex;
    flex-direction: column;
    width: 30em;
    gap: 0.5em;
}
@media (max-width: 1500px) {
    .detailed-view {
        flex-direction: column;
    }
    .detailed-view >.item-info {
        flex-grow: 1;
        width: 800px;
    }
}

.item-image {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 600px;
    justify-content: space-between;
}

img {
    max-width: 80%;
    max-height: 100%;
}

.item-info > .price,
.item-info > .title,
.item-info > .description,
.item-info > .description-title {
    text-align: left;
    margin: 0;
}
.item-info > .title,
.item-info > .price,
.item-info > .description-title {
    font-weight: 600;
}
.detail-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.detail-container > .detail {
    padding-right: 50%;
    margin: 0;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}
b{
    font-weight: 600;
}
.price {
    color: rgb(0, 161, 21);
}