.sell-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}
.sell-title {
    margin-bottom: 1em;
    font-weight: 600;
    color: var(--color-text-green);
}
.form-select {
    width: 24em;
    margin-bottom: 1em;
}

