.sidebar {
    font-size:15px;
    background-color:var(--color-background-light);
    width:20em;
    flex-shrink:0;
    box-shadow:var(--box-shadow-small);
    z-index:100;
    padding:0 1em;
    position:fixed;
    height:calc(100vh - 70px);
    transition:transform .5s ease;
    display:flex;
    overflow:auto
    }
    
    .condition-select {
    padding:0 1em;
    height:3em;
    width:100%;
    border-radius:3em;
    border:none;
    box-shadow:var(--box-shadow-small);
    margin-bottom:1em
    }
    
    .price-filter {
    margin-bottom:1em
    }
    
    .item-type-select {
    padding:0 1em;
    height:3em;
    width:100%;
    border-radius:3em;
    border:none;
    box-shadow:var(--box-shadow-small);
    margin-bottom:1em
    }
    
    .condition-select:hover,.item-type-select:hover,.price-filter > input:hover,.submit-filters:hover,.toggle-sidebar:hover {
    box-shadow:var(--box-shadow-medium)
    }
    
    .price-filter {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:.5em
    }
    
    .price-filter > p {
    margin:0;
    width:100%
    }
    
    .price-title,.filter-title {
    margin:0;
    font-weight:600;
    text-align:left;
    font-size:15px;
    padding:.5em
    }
    
    .price-filter > input {
    width:8em;
    padding:0 1em;
    height:3em;
    border-radius:3em;
    border:none;
    box-shadow:var(--box-shadow-small)
    }
    
    .submit-filters {
    width:100%;
    height:3em;
    border-radius:3em;
    border:none;
    font-weight:600;
    box-shadow:var(--box-shadow-small);
    background-color:var(--button-background);
    color:var(--button-text)
    }
    
    .submit-filters:hover {
    filter:brightness(0.9);
    transition:filter .3s
    }
    
    .filters-form {
    margin:1.5em 0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1
    }
    
    @media (max-width: 1081px) {
    .sidebar:not(.true) {
    transform:translateX(-100%);
    transition:transform .5s ease
    }

    }