.item-card {
    background-color: bisque;
    height: 20em;
    width: 20em;
    padding: 0.5em;
}

.preview-image {
    object-fit: cover;
    width: 100%;
    height: 80%;
}
.preview-text {
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
.title {
    height: 100%;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
