.item-card {
    background-color: var(--color-background-light);
    height: 20em;
    width: 20em;
    padding: 0.5em;
    box-shadow: var(--box-shadow-small);
    border-radius: 1em;
    border: none;
}
.item-card:hover {
    box-shadow: var(--box-shadow-medium);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.preview-image {
    width: 100%;
    height: 80%;
    border-radius: 0.6em;
}
.preview-text {
    padding: 0 0.5em;
    display: flex;
    flex-direction: row;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}
.preview-text > .title {
    display: block;
    font-size: 14px;
    max-width: 75%;
    margin: 0;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 3.7em;
    line-height: 1.2em;
    font-weight: 500;
    white-space: pre-wrap;
}
.preview-text > .price {
    display: flex;
    font-weight: 600;
    height: 100%;
    margin: 0;
    line-height: 4em;
}


