.full-view-page {
    padding-top: 5em;
    display: flex;
    gap: 5em;
    justify-content: center;
    align-items: center;
}
.item-image > button {
    background-image: url("../../assets/images/next-icon.png");
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    /* translate: -100%; */
    border-radius: 50%;
    flex-shrink: 0
}

.item-image > button.right {
    transform: rotate(180deg);
    /* translate: 100%; */
}

.item-image {
    display: flex;
    /* align-items: center; */
    gap: 1em;
}

.item-image > img {
    width: 100%;
}

.item-image > button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    filter: brightness(0.9);
}

.action-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.action-container > button {
    height: 3em;
    border-radius: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    background-color: rgb(83, 255, 106);
    z-index: 1;
    position: relative;
}
.full-view-page > .item-info-container {
    gap: 2em;
}
    

@media (max-width: 1500px) {
    .full-view-page {
        flex-direction: column;
    }
    .item-info {
        flex-grow: 1;
        width: 800px;
    }
}
