.navbar-drawer-pfp{
    width:190px;
    height:`90px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: var(--box-shadow-small);
    margin:32px 0px 0px 0px;
}

.mobile-drawer-parent{
    background: var(--color-background);
}

.mobile-drawer-option{
 display:flex;
 flex-direction: column;
 align-content: space-evenly;
 height: 100%;
 background: var(--color-background);
 
}

.mobile-drawer-top{
    flex-grow: 1;
    
}


.mobile-drawer-top > *:not(img), .mobile-drawer-bottom > *{
  padding: 8px 0px 2px 0px;
  border-bottom: 1px solid;
  color:var(--color-text-light);
  border-image: linear-gradient(to right, transparent, var(--color-text-green), transparent) 1;
  background: var(--color-background);
}

.mobile-drawer-top > *:not(img):not(:last-child):hover , .mobile-drawer-language-parent > *:hover, .mobile-drawer-bottom > *:hover{
    
    border-bottom: 1px solid;
    color:var(--color-text);
    border-image: linear-gradient(to right, transparent, var(--color-text), transparent) 1;
    background: var(--color-background);
    cursor: pointer;
  }

