.listings-page {
    display: flex;
    flex-grow: 1;
}

.listings-page > .listings-layout {
    font-size: 15px;
    padding-left: 22em;
    padding-right: 0;
    transition: padding-left 0.2s ease, padding-right 0.5s ease;
}
@media (max-width: 1081px) {
    .listings-page > .listings-layout {
        padding-left: 2em;
        padding-right: 2em;
        transition: padding-left 0.5s ease, padding-right 0.5s ease;
    }
}
