.item-form > form, .user-form > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
}
.item-form > form > label,  .user-form > form > label {
    display: flex;
    flex-direction: column;
    width: 20em;
    align-items: flex-start;
    font-weight: 600;
    gap: 0.5em;
}
.item-form > form > label > input:not(.image-input), .user-form > form > label > input {
    width: 100%;
    height: 3em;
    border-radius: 2em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}

.item-form > form > label > input:not(.image-input):hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    transition: box-shadow 0.3s;
}

#description-input {
    width: 100%;
    height: 10em;
    padding: 1em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    box-sizing: border-box;
    border-radius: 1em;
    resize: none;
    font-family: inherit;
}

.image-input {
    display: none;
}
.image-input-container {
    width: 100%;
    height: 3em;
    padding: 0 0.5em;
    border-radius: 3em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
    background-color: rgb(50, 122, 65);
    color: white;
    font-weight: 600;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-sizing: border-box;
}
.image-input-container:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
}
.submit-button {
    width: 100%;
    height: 3em;
    border-radius: 3em;
    border: none;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px;
    background-color: rgb(50, 122, 65);
    color: white;
}
.submit-button:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
}

.form-carousel {
    width: 200%;
    transform: translateX(-25%);
    margin-top: 2em;
}